__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
node_modules/
dist/
*.db
.env
backend/app/services/ml_engine/models/*.pkl
!backend/app/services/ml_engine/models/phishing_model.pkl


backend/.venv/
.venv/
.pytest_cache/
backend/.env
.env
*.db
.DS_Store
node_modules/
dist/
project_files.txt
clean_project_files.txt
